<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

    <script th:unless="${market}" th:inline="javascript">
        alert("페이지가 존재하지 않습니다.");
        location.href = "/community/market/list";
    </script>

    <th:block th:if="${market}" th:with="logged_user=${#authentication.principal.user}">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
            <link rel="stylesheet" th:href="@{/css/common/common.css}" />
            <link rel="stylesheet" th:href="@{/css/market/marketDetail.css}" />
            <script defer th:src="@{/js/common/imgSwiper.js}"></script>
            <script defer th:src="@{/js/market/marketDetail.js}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
            <title>마켓 상세</title>
        </head>
        <body>
            <!--/* header */-->
            <th:block th:insert="~{fragment/header::header}"></th:block>


            <div id="marketDetail-wrap">
                <div id="content-wrap" class="display-flex">
                    <div id="detail-wrap" class="display-flex">
                        <div id="detail-header-wrap" class="display-flex-set">
                            <div id="writer-wrap" class="display-flex">
                                <img class="writer-pic" th:src="@{'/upload/' + ${market.user.userImg.fileName}}" />
                                <div class="writer-nickname" th:text="${market.user.nickname}"></div>
                            </div>

                            <div id="num-wrap" class="display-flex">
                                <div class="display-flex-set">
                                    <div>조회수</div>
                                    <div th:text="${market.viewCnt}"></div>
                                </div>
                                <div class="display-flex-set">
                                    <div>작성일</div>
                                    <div th:text="${#temporals.format(market.createdDate, 'yyyy.MM.dd')}"></div>
                                </div>
                            </div>
                        </div>

                        <div id="txt-content-wrap" class="display-flex">
                            <div class="txt-wrap display-flex">
                                <div id="product-price" th:text="${#numbers.formatInteger(market.price, 3, 'COMMA') + '원'}"></div>
                                <div id="product-region" class="display-flex-set">
                                    <img id="map-mark" src="/img/location.png">
                                    <p th:text="${market.region}"></p>
                                </div>
                            </div>
                            <div id="product-title" th:text="${market.product}"></div>
                        </div>
                        <div id="product-content" th:text="${market.content}"></div>
                    </div>

                    <div class="swiper padding-line display-flex">
                        <div class="swiper-slide">
                            <img th:each="marketImg : ${market.marketImgs}" th:src="@{'/upload/' + ${marketImg.fileName}}" />
                        </div>
                    </div>
                </div>

                <div id="btn-wrap" class="display-flex">
                    <input id="marketId" type="hidden" th:value="${market.id}"/>
                    <input id="market-inform" type="hidden" th:value="|${market.id}/${market.user.userImg.fileName}/${market.user.nickname}|"/>
                    <div id="market-chat-btn">채팅하기</div>
                    <div class="display-flex" id="market-btn-wrap">
                        <a th:href="@{/market/write}">작성</a>
                        <a th:href="@{'/market/update/' + ${market.id}}" th:if="${logged_user.id == market.user.id}">수정</a>
                        <form method="post" id="market-delete-form" th:action="@{/market/delete}" th:if="${logged_user.id == market.user.id}">
                            <input type="hidden" name="id" th:value="${market.id}"/>
                            <button id="market-delete-btn" type="button">삭제</button>
                        </form>
                        <a th:href="@{/market/list}">목록</a>
                    </div>
                </div>
            </div>
        </body>
    </th:block>
</html>
