<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/market/marketList.css}" />
        <title>마켓 리스트</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <div id="marketList-wrap">
            <div id="list-header-wrap" class="display-flex">
                <div id="list-header-txt">마켓</div>
                <div id="list-search-wrap" class="display-flex">
                    <a id="write-btn" th:href="@{/market/marketWrite}">작성하기</a>
                    <div id="btn-wrap" class="display-flex-set">
                        <form method="post" name="search-form" th:action="@{#}" autocomplete="off" class="display-flex">
                            <button type="button" id="initial-btn">초기화</button>
                            <input type="text" id="search-input" placeholder="검색어를 입력하세요" />
                            <button type="submit" id="search-btn">검색</button>
                        </form>
                    </div>
                </div>
            </div>

            <div id="list-wrap" class="display-flex">
                <a th:href="@{/market/marketDetail}" class="list-content display-flex">
                    <img class="product-img" src="/img/goods.jpg" />
                    <div class="product-inform display-flex">
                        <div class="product-name">굿즈ddddddddddddddddddddddddd</div>
                        <div class="product-price">50,000</div>
                        <div class="product-region">전국</div>
                    </div>
                </a>
            </div>

            <!--/* pagination */-->
            <th:block th:insert="~{fragment/pagination::pagination}"></th:block>
        </div>
    </body>
</html>
