<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/market/marketWrite.css}" />
        <script defer th:src="@{/js/common/attachment.js}"></script>
        <script defer th:src="@{/js/market/marketWrite.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <title>마켓 수정</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <div id="marketWrite-wrap">
            <div id="writer-wrap" class="display-flex">
                <img src="/img/핑구1.jpg" />
                <div id="nickname">어우기</div>
            </div>

            <form method="post" name="write-form" th:action="@{#}" autocomplete="off">
                <div id="write-info-wrap">
                    <div class="err-wrap display-flex">
                        <div>
                            <p class="err-msg">* 가격을 입력해 주세요</p>
                        </div>
                        <div>
                            <p class="err-msg">* 상품명을 입력해 주세요</p>
                        </div>
                        <div>
                            <p class="err-msg">* 지역을 입력해 주세요</p>
                        </div>
                    </div>

                    <div id="write-info" class="display-flex">
                        <input type="text" id="price" class="valid" placeholder="가격" name="price" th:value="50000"/>
                        <input type="text" id="productName" class="valid" placeholder="상품명" name="productName" th:value="굿즈"/>
                        <input type="text" list="region-wrap" id="region" class="valid" placeholder="지역" name="region" th:value="서울특별시성동구"/>
                        <datalist id="region-wrap"  class="display-flex-set"></datalist>
                    </div>
                </div>

                <div id="write-content-wrap">
                    <p class="err-msg">* 내용을 입력해 주세요</p>
                    <textarea id="content" name="content" placeholder="내용을 입력해 주세요" class="valid">
                        챔필 앞에서 직거래 원합니다
                    </textarea>
                </div>

                <div class="fileBox">
                    <!-- <div id="delete-file-wrap" style="display: none;"></div> -->
                    <div>상품 이미지</div>
                    <p class="file-err-msg">* 사진을 하나 이상 업로드 해 주세요</p>
                    <div class="picture-btn">파일 추가</div>
                    <div class="confirm-box-wrap display-flex"></div>
                </div>

                <div id="btn-wrap" class="display-flex">
                    <button type="button" id="submit-btn">작성완료</button>
                    <a th:href="@{/market/list}">목록</a>
                </div>
            </form>
        </div>
    </body>
</html>
