<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/community/postList.css}" />
        <script defer th:src="@{/js/community/postList.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <title>자유 게시판</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <div id="postList-wrap">
            <div id="list-header-wrap" class="display-flex">
                <div id="list-header-txt">자유 게시판</div>
                <div id="list-search-wrap" class="display-flex">
                    <a id="write-btn" th:href="@{/community/post/write}">작성하기</a>
                    <div id="btn-wrap" class="display-flex-set">
                        <form method="post" name="search-form" th:action="@{/community/post/search}" autocomplete="off" class="display-flex">
                            <button type="button" id="initial-btn">초기화</button>
                            <input type="text" id="search-input" name="sq" placeholder="검색어를 입력하세요" th:value="${sq}" />
                            <button type="submit" id="search-btn">검색</button>
                        </form>
                    </div>
                </div>
            </div>

            <div id="list-wrap" class="display-flex">
                <div class="list-content display-flex border-and-radius">
                    <div class="post-inform display-flex">
                        <div class="post-id">No.</div>
                        <div class="post-type">분류</div>
                        <div class="post-title">제목</div>
                        <div class="post-writer">작성자</div>
                        <div class="post-view">조회수</div>
                        <div class="post-date">작성일</div>
                    </div>
                </div>
                <a th:href="@{'/community/post/detail/' + ${post.id}}" th:each="post, iterState : ${lists}" class="list-content display-flex border-and-radius">
                    <div class="post-inform display-flex">
                        <div class="post-id" th:text="${(page - 1) * rowsPerPage + (iterState.index + 1)}"></div>
                        <div class="post-type" th:text="${post.category}"></div>
                        <div class="post-title" th:text="${post.title}"></div>
                        <div class="post-writer" th:text="${post.user.nickname}"></div>
                        <div class="post-view" th:text="${post.viewCnt}"></div>
                        <div class="post-date" th:text="${#temporals.format(post.createdDate, 'yy.MM.dd')}"></div>
                    </div>
                </a>
            </div>

            <!--/* pagination */-->
            <th:block th:insert="~{fragment/pagination::pagination}"></th:block>
        </div>
    </body>
</html>
