<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/community/postList.css}" />
        <script defer th:src="@{/js/community/postList.js}"></script>
        <title>자유 게시판</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <div id="postList-wrap">
            <div id="list-header-wrap" class="display-flex">
                <div id="list-header-txt">자유 게시판</div>
                <div id="list-search-wrap" class="display-flex">
                    <a id="write-btn" th:href="@{/community/post/postWrite}">작성하기</a>
                    <div id="btn-wrap" class="display-flex-set">
                        <form method="post" name="search-form" th:action="@{#}" autocomplete="off" class="display-flex">
                            <button type="button" id="initial-btn">초기화</button>
                            <input type="text" id="search-input" placeholder="검색어를 입력하세요" />
                            <button type="submit" id="search-btn">검색</button>
                        </form>
                    </div>
                </div>
            </div>

            <div id="list-wrap" class="display-flex">
                <div class="list-content display-flex border-and-radius">
                    <div class="post-inform display-flex">
                        <div class="post-id">No.</div>
                        <div class="post-type">분류</div>
                        <div class="post-title">제목</div>
                        <div class="post-writer">작성자</div>
                        <div class="post-view">조회수</div>
                        <div class="post-date">작성일</div>
                    </div>
                </div>
                <a th:href="@{/community/post/postDetail}" class="list-content display-flex border-and-radius">
                    <div class="post-inform display-flex">
                        <div class="post-id">55555</div>
                        <div class="post-type">직관나눔</div>
                        <div class="post-title">작성자dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</div>
                        <div class="post-writer">작성자</div>
                        <div class="post-view">55555</div>
                        <div class="post-date">2024.02.05</div>
                    </div>
                </a>
            </div>

            <!--/* pagination */-->
            <th:block th:insert="~{fragment/pagination::pagination}"></th:block>
        </div>
    </body>
</html>
