<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/user/find.css}" />
        <script defer th:src="@{/js/user/find.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <title>아이디/비밀번호 찾기</title>
    </head>
    <body>
        <div class="auth-wrapper">
            <div id="find-wrapper" class="display-flex-set">
                <div class="error-msg display-flex-set">
                    <img src="/img/warning.png" width="35px"/>
                    <div class="error-msg-text" th:text="${warnMessage}"></div>
                </div>

                <a th:href="@{/home}"><img src="/img/KKIA2-removebg.png" class="logo" /></a>

                <th:block th:unless="${give}">
                    <!--/* 선택 */-->
                    <form method="post" th:action="@{/user/findWhat}" id="find-menu-wrap" class="display-flex-set">
                        <input id="what-nav" type="hidden" th:value="${whatValue}"/>
                        <input type="submit" name="what" class="find-menu-item" value="아이디 찾기"/>
                        <input type="submit" name="what" class="find-menu-item" value="비밀번호 찾기"/>
                    </form>

                    <!--/* 입력 */-->
                    <form th:if="${whatValue.toString().equals('아이디 찾기')}" method="post" th:action="@{/user/findInform}" name="find-id" class="find-content">
                        <input name="name" class="find-items find-input" type="text" placeholder="이름" />
                        <input name="email" class="find-items find-input" type="text" placeholder="이메일" />
                        <input class="find-items find-btn" type="button" value="확인" />
                    </form>
                    <form th:if="${whatValue.toString().equals('비밀번호 찾기')}" method="post" th:action="@{/user/findInform}" name="find-pw" class="find-content">
                        <input name="name" class="find-items find-input" type="text" placeholder="이름" />
                        <input name="loginId" class="find-items find-input" type="text" placeholder="아이디" />
                        <input class="find-items find-btn" type="button" value="확인" />
                    </form>
                </th:block>

                <!--/* 결과 */-->
                <th:block th:if="${give}">
                    <div th:unless="${give.toString().equals('비밀번호 변경')}" class="find-result-wrap display-flex-set">
                        <div id="find-result-id">
                            아이디는 <span th:text="${user.loginId}"></span> 입니다
                        </div>
                        <div id="find-id-btn" class="display-flex">
                            <form method="post" th:action="@{/user/findWhat}">
                                <input type="submit" name="what" value="비밀번호 찾기"/>
                            </form>
                            <a th:href="@{/user/logIn}">로그인</a>
                        </div>
                    </div>
                    <form method="post" th:action="@{/user/findCngPw}" id="find-change-pw" th:if="${give.toString().equals('비밀번호 변경')}" class="find-result-wrap password display-flex-set">
                        <div id="result-err"></div>
                        <input type="hidden" name="id" th:value="${user.id}">
                        <input class="valid" type="password" name="password" placeholder="신규 비밀번호"/>
                        <input class="valid" type="password" placeholder="비밀번호 확인"/>
                        <div id="find-pw-btn" class="display-flex-set">
                            <a th:href="@{/user/find}">뒤로가기</a>
                            <input id="submit-btn" type="button" value="확인" />
                        </div>
                    </form>
                </th:block>
            </div>
            
            <div>
                <img id="login-picture" src="/img/양현종.jpg" />
            </div>
        </div>
    </body>
</html>
