<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <th:block th:with="logged_user=${#authentication.principal.user}">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
            <link rel="stylesheet" th:href="@{/css/common/common.css}" />
            <link rel="stylesheet" th:href="@{/css/user/mypage.css}" />
            <script defer th:src="@{/js/user/mypage.js}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
            <title>마이페이지</title>
        </head>
        <body>
            <!--/* header */-->
            <th:block th:insert="~{fragment/header::header}"></th:block>

            <!-- drop modal -->
            <div id="drop-modal-wrap" class="display-flex-set">
                <form method="post" th:action="@{#}" id="drop-content" class="display-flex-set">
                    <input type="hidden" th:value="${logged_user.id}">
                    <img id="drop-close-btn" src="/img/close.png" />
                    <div id="drop-title" class="display-flex">정말 탈퇴하시겠습니까?
                        <span id="drop-warn">당신의 모든 정보가 사라지며 복구할 수 없습니다</span>
                    </div>
                    <div id="drop-valid-msg" class="error-msg">* 비밀번호를 입력해 주세요</div>
                    <input class="drop-input" id="password" type="text" placeholder="비밀번호를 입력해 주세요">
                    <input id="drop-submit-btn" type="button" value="확인">
                </form>
            </div>

            <!-- main -->
            <div id="mypage-wrapper" class="display-flex">
                <div id="mypage-left-wrap" class="display-flex-set">
                    <div id="mypage-profile" class="display-flex">
                        <img id="mypage-profile-pic" th:src="@{'/upload/'} + ${userImg.fileName}" />
                        <div id="mypage-profile-inform">
                            <div class="mypage-profile-items" th:text="${logged_user.nickname}"></div>
                            <div class="mypage-profile-items" th:text="${logged_user.loginId}"></div>
                        </div>
                    </div>
                    <form method="post" th:action="@{/user/mypageType}" id="mypage-menu" class="display-flex">
                        <input type="hidden" name="menu" id="submit-input" />
                        <input id="menu-nav" type="hidden" th:value="${menu}"/>
                        <input type="button" class="mypage-menu-items" value="커뮤니티" />
                        <input type="button" class="mypage-menu-items" value="직관기록" />
                        <input type="button" class="mypage-menu-items" value="회원정보" />
                    </form>
                    <div id="drop-user-btn">회원탈퇴</div>
                </div>

                <div id="mypage-right-wrap">
                    <div th:if="${menu.toString().equals('커뮤니티')}" class="fragment display-flex" id="community-wrapper">
                        <div class="display-flex-set">
                            <div id="community-main-title" class="display-flex-set">커뮤니티</div>
                        </div>
                        <div class="community-items">
                            <div class="community-title">작성한 글</div>
                            <div class="community-box display-flex">
                                <a th:href="@{/community/post/detail}" class="community-one">
                                    <div>안녕하세요ddddddddddddddddddd</div>
                                    <div>처음 인사드립니다 저는 누구누구누구입니다</div>
                                    <div>2024.1.4</div>
                                </a>
                            </div>
                        </div>
                        <div class="community-items">
                            <div class="community-title">댓글 쓴 글</div>
                            <div class="community-box display-flex">
                                <a th:href="@{/community/post/detail}" class="community-one">
                                    <div>안녕하세요ddddddddddddddddddd</div>
                                    <div class="community-writer">갓생살거야</div>
                                    <div>2024.1.4</div>
                                </a>
                            </div>
                        </div>
                        <div class="community-items">
                            <div class="community-title">저장한 맛집</div>
                            <div class="community-box display-flex">
                                <a th:href="@{/community/food/detail}" class="community-one recommend-store">
                                    <div><sapn class="community-region">광주</sapn>챔필 근처 찐맛집 추천</div>
                                    <div class="community-writer">감자맛 고구마</div>
                                    <div>2024.1.4</div>
                                </a>
                            </div>
                        </div>
                        <div class="community-items">
                            <div class="community-title">마음에 든 사진</div>
                            <div class="community-box display-flex">
                                <a th:href="@{/community/favorite/detail}"><img src="/img/양현종.jpg" /></a>
                            </div>
                        </div>
                    </div>

                    <div th:if="${menu.toString().equals('직관기록')}" class="fragment" id="diary-wrapper">

                        <div class="record-wrap" th:each="record : ${gameRecords}">
                            <span class="record-item" th:text="|${record.recordDate}/${record.recordPlace}/${record.recordResult}/${record.recordMemo}|"></span>
                        </div>

                        <!-- diary modal -->
                        <div id="diary-modal-wrap" class="display-flex-set">
                            <div id="diary-modal" class="display-flex">
                                <img id="close-btn" src="/img/close.png" />
                                <div id="modal-title">오늘의 직관</div>
                                <div id="modal-content">
                                    <form method="post" th:action="@{/user/addGameRecord}" name="diary-add-form" class="display-flex">
                                        <label class="diary-modal-items">
                                            <input id="modal-date-input" name="recordDate" type="hidden" />
                                            <div>일시</div>
                                            <div id="modal-date"></div>
                                        </label>
                                        <label class="diary-modal-items">
                                            <div>장소</div>
                                            <select id="modal-region" name="recordPlace">
                                                <option name="region" value="광주기아챔피언스필드">광주기아챔피언스필드</option>
                                                <option name="region" value="잠실종합운동장">잠실종합운동장</option>
                                                <option name="region" value="고척스카이돔">고척스카이돔</option>
                                                <option name="region" value="수원KT위즈파크">수원KT위즈파크</option>
                                                <option name="region" value="인천SSG랜더스필드">인천SSG랜더스필드</option>
                                                <option name="region" value="대구삼성라이온즈파크">대구삼성라이온즈파크</option>
                                                <option name="region" value="부산사직종합운동장">부산사직종합운동장</option>
                                                <option name="region" value="한화생명이글스파크">한화생명이글스파크</option>
                                                <option name="region" value="창원NC파크">창원NC파크</option>
                                            </select>
                                        </label>
                                        <label class="diary-modal-items">
                                            <div>결과 <span class="error-msg"></span></div>
                                            <input id="modal-result-input" name="recordResult" type="hidden" />
                                            <div id="result-wrap" class="display-flex">
                                                <div>승리</div>
                                                <div>무승부</div>
                                                <div>패배</div>
                                                <div>취소</div>
                                            </div>
                                        </label>
                                        <label class="diary-modal-items">
                                            <div>한줄메모</div>
                                            <input id="memo" name="recordMemo" type="text" />
                                        </label>
                                    </form>
                                </div>
                                <input type="button" id="modal-add-btn" value="추가" />
                            </div>
                        </div>

                        <div id="my-graph" class="display-flex">
                            <div>직관 승률</div>
                            <div>
                                <span id="win-rate"></span>
                                <span id="win-whole"></span>
                            </div>
                        </div>
                        <div class="cal-wrap display-flex-set">
                            <div class="cal-nav display-flex-set">
                                <a href="javascript:;" class="nav-btn go-prev"></a>
                                <div class="year-month"></div>
                                <a href="javascript:;" class="nav-btn go-next"></a>
                            </div>
                            <div class="cal-main">
                                <div class="cal-days display-flex">
                                    <div class="day">MON</div>
                                    <div class="day">TUE</div>
                                    <div class="day">WED</div>
                                    <div class="day">THU</div>
                                    <div class="day">FRI</div>
                                    <div class="day">SAT</div>
                                    <div class="day">SUN</div>
                                </div>
                                <div class="dates"></div>
                            </div>
                        </div>
                    </div>

                    <div th:if="${menu.toString().equals('회원정보')}" class="fragment" id="user-wrapper">
                        <div class="display-flex">
                            <div id="user-title" class="display-flex-set">회원정보</div>
                            <form method="post" th:action="@{/user/resetImg}" enctype="multipart/form-data">
                                <input style="display:none" name="userImg" type="file"/>
                                <input id="img-reset-btn" name="userImg" type="submit" value="초기화" />
                            </form>
                            <form method="post" th:action="@{/user/modifyUser}" name="user-content" id="user-content-wrap" class="display-flex" enctype="multipart/form-data">
                                <div class="user-inform-items">
                                    <div class="user-inform-title">프로필 사진</div>
                                    <label id="user-picture-wrap">
                                        <img id="user-pic" th:src="@{'/upload/'} + ${userImg.fileName}" />
                                        <input style="display:none" accept="image/*" id="file" class="profile-pic" name="userImg" type="file"/>
                                    </label>
                                </div>
                                <label class="user-inform-items">
                                    <div class="error-msg" th:if="${nicknameErr}">* 중복된 닉네임입니다</div>
                                    <div class="user-inform-title">닉네임</div>
                                    <input name="nickname" type="text" th:placeholder="${logged_user.nickname}" th:value="${logged_user.nickname}" />
                                </label>
                                <div class="user-inform-items">
                                    <div class="user-inform-title">아이디</div>
                                    <div class="user-inform-content" th:text="${logged_user.loginId}" ></div>
                                </div>
                                <label class="user-inform-items" id="user-password">
                                    <div class="user-inform-title">비밀번호</div>
                                    <div class="error-msg" th:text="${passwordErr}"></div>
                                    <input name="password" type="password" placeholder="현재 비밀번호" />
                                    <input name="newPassword" type="password" placeholder="신규 비밀번호" />
                                    <input type="password" placeholder="비밀번호 확인" />
                                </label>
                                <div class="user-inform-items">
                                    <div class="user-inform-title">이름</div>
                                    <div class="user-inform-content" name="name" th:text="${logged_user.name}"></div>
                                </div>
                                <div class="user-inform-items">
                                    <div class="user-inform-title">이메일</div>
                                    <div class="user-inform-content" name="email" th:text="${logged_user.email}"></div>
                                </div>
                                <label class="user-inform-items">
                                    <div class="user-inform-title">성별</div>
                                    <label for="radio-female">
                                        <input name="gender" id="radio-female" type="radio" value="여자" th:checked="${logged_user.gender eq '여자'}" />
                                        여
                                    </label>
                                    <label for="radio-male">
                                        <input name="gender" id="radio-male" type="radio" value="남자" th:checked="${logged_user.gender eq '남자'}"/>
                                        남
                                    </label>
                                </label>
                                <label class="user-inform-items">
                                    <div class="user-inform-title">생년월일</div>
                                    <input type="date" name="birth" th:value="${logged_user.birth} ? ${logged_user.birth} : 연도-월-일" />
                                </label>
                                <input id="user-modify-btn" type="button" value="수정완료" />
                                <input type="hidden" name="id" th:value="${logged_user.id}"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </th:block>
</html>
