<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/user/mypage.css}" />
        <script defer th:src="@{/js/user/mypage.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <title>마이페이지</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!-- diary modal-->
        <div id="diray-modal-wrap" class="display-flex-set">
            <div id="diray-modal" class="display-flex">
                <img id="close-btn" src="/img/close.png" />
                <div id="modal-title">오늘의 직관</div>
                <div id="modal-content">
                    <form method="post" th:action="@{#}" name="diray-add-form" class="display-flex">
                        <label class="diray-modal-items">
                            <input id="modal-date-input" name="date" type="hidden" />
                            <div>일시</div>
                            <div id="modal-date"></div>
                        </label>
                        <label class="diray-modal-items">
                            <div>장소</div>
                            <select id="modal-region" name="region">
                                <option name="region" value="광주기아챔피언스필드">광주기아챔피언스필드</option>
                                <option name="region" value="잠실종합운동장">잠실종합운동장</option>
                                <option name="region" value="고척스카이돔">고척스카이돔</option>
                                <option name="region" value="수원KT위즈파크">수원KT위즈파크</option>
                                <option name="region" value="인천SSG랜더스필드">인천SSG랜더스필드</option>
                                <option name="region" value="대구삼성라이온즈파크">대구삼성라이온즈파크</option>
                                <option name="region" value="부산사직종합운동장">부산사직종합운동장</option>
                                <option name="region" value="한화생명이글스파크">한화생명이글스파크</option>
                                <option name="region" value="창원NC파크">창원NC파크</option>
                            </select>
                        </label>
                        <label class="diray-modal-items">
                            <div>결과 <span class="error-msg"></span></div>
                            <input id="modal-result-input" name="result" type="hidden" />
                            <div id="result-wrap" class="display-flex">
                                <div>승리</div>
                                <div>무승부</div>
                                <div>패배</div>
                                <div>취소</div>
                            </div>
                        </label>
                        <label class="diray-modal-items">
                            <div>한줄메모</div>
                            <input id="memo" name="memo" type="text" />
                        </label>
                    </form>
                </div>
                <input type="button" id="modal-add-btn" value="추가" />
            </div>
        </div>

        <!-- main -->
        <div id="mypage-wrapper" class="display-flex">
            <div id="mypage-left-wrap" class="display-flex-set">
                <div id="mypage-profile" class="display-flex">
                    <img id="mypage-profile-pic" src="/img/핑구1.jpg" />
                    <div id="mypage-profile-inform">
                        <div class="mypage-profile-items">어우기</div>
                        <div class="mypage-profile-items">MYKIA123</div>
                    </div>
                </div>
                <form method="post" th:action="@{#}" id="mypage-menu" class="display-flex">
                    <input type="hidden" name="menu" id="submit-input" />
                    <input type="button" class="mypage-menu-items" value="커뮤니티" />
                    <input type="button" class="mypage-menu-items" value="직관기록" />
                    <input type="button" class="mypage-menu-items" value="회원정보" />
                </form>
                <div id="drop-user-btn">회원탈퇴</div>
            </div>

            <div id="mypage-right-wrap">
                <div class="fragment display-flex" id="community-wrapper">
                    <div class="display-flex-set">
                        <div id="community-main-title" class="display-flex-set">커뮤니티</div>
                    </div>
                    <div class="community-items">
                        <div class="community-title">작성한 글</div>
                        <div class="community-box display-flex">
                            <a th:href="@{/community/post/postDetail}" class="community-one">
                                <div>안녕하세요ddddddddddddddddddd</div>
                                <div>처음 인사드립니다 저는 누구누구누구입니다</div>
                                <div>2024.1.4</div>
                            </a>
                        </div>
                    </div>
                    <div class="community-items">
                        <div class="community-title">댓글 쓴 글</div>
                        <div class="community-box display-flex">
                            <a th:href="@{/community/post/postDetail}" class="community-one">
                                <div>안녕하세요ddddddddddddddddddd</div>
                                <div class="community-writer">갓생살거야</div>
                                <div>2024.1.4</div>
                            </a>
                        </div>
                    </div>
                    <div class="community-items">
                        <div class="community-title">저장한 맛집</div>
                        <div class="community-box display-flex">
                            <a th:href="@{/community/food/foodDetail}" class="community-one recommend-store">
                                <div><sapn class="community-region">광주</sapn>챔필 근처 찐맛집 추천</div>
                                <div class="community-writer">감자맛 고구마</div>
                                <div>2024.1.4</div>
                            </a>
                        </div>
                    </div>
                    <div class="community-items">
                        <div class="community-title">마음에 든 사진</div>
                        <div class="community-box display-flex">
                            <a th:href="@{/community/favorite/favoriteDetail}"><img src="/img/핑구1.jpg" /></a>
                        </div>
                    </div>
                </div>

                <div class="fragment" id="diray-wrapper">
                    <div id="my-graph" class="display-flex">
                        <div>직관 승률</div>
                        <div><span>50%</span> (5/10)</div>
                    </div>
                    <div class="cal-wrap display-flex-set">
                        <div class="cal-nav display-flex-set">
                            <a href="javascript:;" class="nav-btn go-prev"></a>
                            <div class="year-month"></div>
                            <a href="javascript:;" class="nav-btn go-next"></a>
                        </div>
                        <div class="cal-main">
                            <div class="cal-days display-flex">
                                <div class="day">MON</div>
                                <div class="day">TUE</div>
                                <div class="day">WED</div>
                                <div class="day">THU</div>
                                <div class="day">FRI</div>
                                <div class="day">SAT</div>
                                <div class="day">SUN</div>
                            </div>
                            <div class="dates"></div>
                        </div>
                    </div>
                </div>
                
                <div class="fragment" id="user-wrapper">
                    <div class="display-flex">
                        <div id="user-title" class="display-flex-set">회원정보</div>
                        <!-- intelliJ : 현재비번, 닉네임 중복 validation / 프사 변경 -->
                        <form method="post" name="user-content" id="user-content-wrap" class="display-flex">
                            <div class="user-inform-items">
                                <div class="user-inform-title">프로필 사진</div>
                                <img id="user-pic" src="/img/핑구1.jpg" />
                            </div>
                            <label class="user-inform-items">
                                <div class="error-msg"></div>
                                <div class="user-inform-title">닉네임</div>
                                <input name="nickname" type="text" placeholder="어우기" />
                            </label>
                            <div class="user-inform-items">
                                <div class="user-inform-title">아이디</div>
                                <div class="user-inform-content">MYKIA123</div>
                            </div>
                            <label class="user-inform-items" id="user-password">
                                <div class="user-inform-title">비밀번호</div>
                                <div class="error-msg"></div>
                                <input name="password" type="password" placeholder="현재 비밀번호" />
                                <input name="new-password" type="password" placeholder="신규 비밀번호" />
                                <input type="password" placeholder="비밀번호 확인" />
                            </label>
                            <div class="user-inform-items">
                                <div class="user-inform-title">이름</div>
                                <div class="user-inform-content">홍길동</div>
                            </div>
                            <div class="user-inform-items">
                                <div class="user-inform-title">이메일</div>
                                <div class="user-inform-content">hong123@naver.com</div>
                            </div>
                            <label class="user-inform-items">
                                <div class="user-inform-title">성별</div>
                                <label for="radio-female">
                                    <input name="gender" id="radio-female" type="radio" value="여자" />
                                    여
                                </label>
                                <label for="radio-male">
                                    <input name="gender" id="radio-male" type="radio" value="남자" />
                                    남
                                </label>
                            </label>
                            <label class="user-inform-items">
                                <div class="user-inform-title">생년월일</div>
                                <input type="date" name="birth" />
                            </label>
                            <input id="user-modify-btn" type="button" value="수정완료" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
