#marketList-wrap {
    width: 1200px;
    margin: 0px auto 50px;
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
}
button {
    cursor: pointer;
}

/* ------------------------------------------------------------ */
#list-header-wrap {
    flex-direction: column;
    row-gap: 20px;
}
#list-header-txt {
    text-align: center;
    border-bottom: 2px solid;
    padding: 20px 0 40px;
    font-size: 30px;
    font-weight: 600;
}
#list-search-wrap {
    justify-content: space-between;
    margin-bottom: 20px;
}
[name="search-form"] {
    column-gap: 20px;
}
#write-btn, [name="search-form"] * {
    font-size: 16px;
    font-weight: 600;
    height: 39px;
    line-height: 34px;
    border-radius: 5px;
    border: 2px solid;
    padding: 0 10px;
    background-color: white;
    outline: none;
}
#write-btn, #initial-btn, #search-btn {
    &:hover {
        background-color: var(--yellow-btn);
    }
}
#search-input::placeholder {
    color: rgb(207, 207, 207);
}

/* ------------------------------------------------------------ */

#list-wrap {
    flex-wrap: wrap;
    column-gap: 21px;
    row-gap: 20px;
    margin-bottom: 20px;
}
#list-wrap .list-content {
    width: 214px;
    height: 336px;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid;
}
.product-img {
    width: 100%;
    height: 210px;
    border-bottom: 2px solid;
    object-fit: cover;
}
.product-inform {
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    row-gap: 5px;
    FONT-WEIGHT: 500;
    background-color: var(--basic-pink);
}
.product-name {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.product-region {
    width: 100%;
}