#marketDetail-wrap {
    width: 1200px;
    margin: 0 auto 50px;
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
}
.padding-line {
    border-bottom: 2px solid;
    padding: 20px 0;
}
#content-wrap {
    column-gap: 20px;
    flex-direction: column;
}
#product-img {
    width: 450px;
    border-radius: 5px;
    border: 2px solid;
}

#detail-wrap {
    height: 495px;
    border-bottom: 2px solid;
    flex-direction: column;
    justify-content: space-between;
}
#detail-header-wrap {
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 2px solid;
}
#writer-wrap {
    align-items: center;
    column-gap: 10px;
}
#writer-wrap > .writer-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
#num-wrap {
    column-gap: 20px;
}
#num-wrap > div {
    column-gap: 10px;
}

/* ------------------------------------------------------------ */

#txt-content-wrap {
    flex-direction: column;
    border-bottom: 2px solid;
    margin-bottom: 15px;
}
#txt-content-wrap > div {
    padding: 20px 0px;
    font-weight: 600;
}
#product-title {
    font-size: 30px;
    line-height: 56.56px;
    text-align: left;
    border-top: 2px solid;
}
.txt-wrap {
    justify-content: space-between;
    row-gap: 5px;
    font-size: 24px;
    text-align: right;
}
#map-mark {
    width: 26px;
    margin-right: 5px;
}
#product-content {
    width: 100%;
    height: 100%;
    font-size: 18px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

/* ------------------------------------------------------------ */

.swiper {
    overflow-x: scroll;
}
.swiper-slide {
    column-gap: 20px;
    display: flex;
    align-items: center;
}
.swiper-slide > img {
    height: 240px;
    border: 2px solid;
    border-radius: 5px;
}

/* ------------------------------------------------------------ */

#btn-wrap {
    margin-top: 20px;
    justify-content: end;
    column-gap: 15px;
}
#btn-wrap > a,
#btn-wrap button {
    font-size: 16px;
    font-weight: 500;
    height: 39px;
    line-height: 34px;
    border-radius: 5px;
    border: 2px solid;
    padding: 0 10px;
    background-color: white;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: var(--yellow-btn);
    }
}
