<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/home.css}" />
        <script defer th:src="@{/js/home.js}"></script>
        <title>KKIA TIGERS</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <div id="main-wrapper">
            <div id="main-today" class="display-flex-set">
                <img id="main-today-title" src="/img/ball.png" />
                <ul id="main-today-opponent" class="display-flex-set">
                    <li>Twins</li>
                    <img src="/img/baseball.png" />
                    <li>Tigers</li>
                </ul>
                <ul id="main-today-entry" class="display-flex">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>0</li>
                </ul>
                <div id="main-today-place" class="display-flex">
                    <div class="place-content display-flex-set" id="place-map">지도</div>
                    <div class="place-content display-flex-set" id="place-weather">날씨</div>
                </div>
            </div>

            <div id="main-fan" class="display-flex-set">
                <div id="main-fan-content">
                    <ul id="slide-wrap" class="display-flex">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <ul id="slide-btn-wrap" class="display-flex">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            
            <div id="main-news" class="display-flex-set">
                <div id="main-news-title">NEWS 📰</div>
                <div id="main-news-content">
                    <!-- 기사 7개만 -->
                    <a href="" class="news-item"> 뉴스기사</a>
                </div>
            </div>
        </div>
    </body>
</html>
