<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/home.css}" />
        <script defer th:src="@{/js/home.js}"></script>
        <script type="text/javascript" th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${mapKey}}"></script> <!--/* 이게 되네 */-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/3295e8b88e.js" crossorigin="anonymous"></script>
        <title>KKIA TIGERS</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <div id="main-wrapper">
            <div id="weather-api-key" th:text="${weatherKey}"></div>
            <!--/* DB 넣기 : 일정 */-->
            <div class="game-wrap" th:each="schedule : ${schedules}">
                <span class="game-item" th:text="|${schedule.gameDate}/${schedule.homeGame}/${schedule.opponent}|"></span>
            </div>
            <!--/* DB 넣기 : 엔트리 */-->
            <div class="player-wrap" th:each="player : ${players}">
                <span class="player-item" th:text="|${player.name}/${player.number}|"></span>
            </div>

            <div id="main-today" class="display-flex-set">
                <div id="not-today" class="display-flex-set">
                    오늘은 경기가 없습니다
                </div>
                <div id="main-today-title" class="display-flex">
                    <div>TODAY</div>
                    <div id="today-date"></div>
                </div>

                <ul id="main-today-opponent" class="display-flex-set">
                    <li id="away"><span></span></li>
                    <img src="/img/baseball.png" />
                    <li id="home"><span></span></li>
                </ul>

                <ul id="main-today-entry" class="display-flex"></ul>

                <div id="main-today-place" class="display-flex">

                    <div class="place-content display-flex-set" id="place-map"></div>

                    <div class="place-content display-flex-set" id="place-weather">
                        <div id="weather-title">
                            <img src="/img/home-location.png"/>
                            <span id="location"></span>
                        </div>
                        <div id="weather-icon"></div>
                        <div >
                            <span id="temperature"></span>
                        </div>
                        <div id="weather-second" class="display-flex">
                            <div>
                                <img src="/img/home-humidity.png"/>
                                <span id="humidity"></span>
                            </div>
                            <div>
                                <img src="/img/home-wind.png"/>
                                <span id="wind"></span>
                            </div>
                            <div>
                                <img src="/img/home-cloud.png"/>
                                <span id="cloud"></span>
                            </div>
                            <div>
                                <img src="/img/home-pressure.png"/>
                                <span id="pressure"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="main-fan" class="display-flex-set">
                <div id="main-fan-content">
                    <ul id="slide-wrap" class="display-flex">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <ul id="slide-btn-wrap" class="display-flex">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            
            <div id="main-news" class="display-flex-set">
                <div id="main-news-title">NEWS 📰</div>
                <div id="main-news-content">
                    <!-- 기사 7개만 -->
                    <a href="" class="news-item"> 뉴스기사</a>
                </div>
            </div>
        </div>
    </body>
</html>
