<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="comment">
        <head>
            <link rel="stylesheet" th:href="@{/css/common/comment.css}" />
        </head>

        <div id="comment-wrap">
            <div id="comment-content-wrap" class="display-flex">
                <form class="comment-content display-flex" name="comment-delete-form" th:action="@{/community/food/cmtDelete}" method="post" th:each="comment : ${listItem.comments}">
                    <input type="hidden" name="id" th:value="${comment.id}" />
                    <input type="hidden" name="foodId" th:value="${listItem.id}" />
                    <input type="hidden" name="action" th:value="'댓글'+' 삭제'" />

                    <img class="writer-pic" src="/img/핑구1.jpg" />
                    <div class="writer-nickname" th:text="${comment.user.nickname}"></div>
                    <div class="write-content" th:text="${comment.content}"></div>
                    <div class="write-time" th:text="${#temporals.format(comment.createdDate, 'yyyy.MM.dd')}"></div>
                    <input type="button" class="comment-delete-btn" value="삭제" />
                </form>
            </div>

            <form id="comment-write-wrap" class="comment-write display-flex" autocomplete="off" name="cmt-write-form" th:action="@{/community/food/cmtWrite}" method="post">
                <input type="hidden" name="foodId" th:value="${listItem.id}" />
                <input type="hidden" name="action" th:value="'댓글'+' 작성'" />

                <img class="writer-pic" src="/img/핑구1.jpg" />
                <div class="writer-nickname" th:text="${listItem.user.nickname}"></div>
                <input id="comment-input" type="text" placeholder="댓글을 입력하세요" name="content" />
                <button type="button" id="comment-write-btn">작성</button>
            </form>
        </div>
    </th:block>
</html>
