<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
    <head>
        <link rel="stylesheet" th:href="@{/css/common/header.css}" />
        <script defer th:src="@{/js/common/header.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    </head>
    <header>
        <div class="display-flex-set">
            <a th:href="@{/home}"><img src="/img/KKIA2-removebg.png" id="logo" /></a>
            <a th:href="@{/game/schedule}" class="header-menu">GAME</a>
            <a th:href="@{/market/list}" class="header-menu">MARKET</a>
            <a th:href="@{/community/main}" class="header-menu">COMMUNITY</a>
        </div>
        <div class="display-flex-set">
            <div id="market-message-wrap" class="display-flex">
                <img id="market-message" src="/img/message.png"/>
                <img sec:authorize="isAuthenticated()" th:if="${alert}" id="market-alert" src="/img/message-mark.png"/>
            </div>

            <a th:href="@{/user/mypage}">
                <img class="header-mypage" src="/img/tiger.png" />
            </a>
            <a id="login-btn" th:href="@{/user/logIn}" sec:authorize="isAnonymous()">LOGIN</a>
            <form th:action="@{/doLogout}" method="POST" sec:authorize="isAuthenticated()">
                <button id="logout-btn" type="submit">LOGOUT</button>
            </form>
        </div>
    </header>
</th:block>
</html>
