<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pagination">
    <head>
        <link rel="stylesheet" th:href="@{/css/common/pagination.css}" />
        <script defer th:src="@{/js/common/pagination.js}"></script>
    </head>
    <div id="pagination-wrap" class="display-flex-set">
        <ul id="pagination-content" class="display-flex">
            <li>
                <a class="move-btn" href=""><img src="/img/prevArrow.png" height="12px" /></a>
            </li>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li>
                <a class="move-btn" href=""><img src="/img/nextArrow.png" height="12px" /></a>
            </li>
        </ul>
    </div>
</th:block>
</html>