<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/community/foodWrite.css}" />
        <script defer th:src="@{/js/community/foodWrite.js}"></script>
        <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=02d9a33ac12fb7a7edb7579360286569&libraries=services"
        ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <title>구장별 맛집 작성</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <main>
            <div id="writer-wrap" class="display-flex">
                <img src="/img/핑구1.jpg" />
                <div id="nickname">어우기</div>
            </div>

            <div id="write-wrap">
                <div id="write-info-wrap">
                    <div class="err-wrap display-flex">
                        <div>
                            <p class="err-msg">* 제목을 입력해 주세요</p>
                        </div>
                        <div>
                            <p class="err-msg">* 지역을 선택해 주세요</p>
                        </div>
                    </div>

                    <div id="write-info" class="display-flex">
                        <input type="text" id="input-title" placeholder="제목" />
                        <div id="selected-region" class="selected-region">지역</div>
                        <div id="region-wrap" class="region-wrap"></div>
                    </div>
                </div>

                <div id="search-map-wrap" class="display-flex padding-line">
                    <div id="menu-wrap">
                        <div id="search-wrap" class="display-flex">
                            <form method="post" th:action="@{#}" onsubmit="searchPlaces(); return false;" class="display-flex">
                                <input type="text" id="keyword" placeholder="맛집 검색" name="keyword" :value="" />
                                <button type="submit" id="search-btn" style="font-size: 16px">검색</button>
                            </form>
                        </div>

                        <ul id="placesList"></ul>

                        <div id="pagination"></div>
                    </div>

                    <div id="map"></div>
                </div>
            </div>

            <form method="post" name="write-form" th:action="@{#}">
                <input type="hidden" id="submit-title" name="title" />
                <input type="hidden" id="submit-region" name="region" />

                <div class="padding-line">
                    <p class="err-msg">* 맛집을 하나 이상 선택해 주세요</p>
                    <div>추천 맛집</div>
                    <div id="item-content-wrap" class="display-flex"></div>
                </div>

                <div id="btn-wrap" class="display-flex">
                    <button type="button" id="submit-btn">작성완료</button>
                    <a th:href="@{/community/food/foodList}">목록</a>
                </div>
            </form>
        </main>
    </body>
</html>
