header img {
    &:hover {
        cursor: pointer;
    }
}

#logo {
    margin-right: 20px;
    width: 250px;
}

/* header -------------------------------------------*/

header {
    width: 1200px;
    height: 135px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    font-weight: 900;
    font-size: 20px;
    margin-left: 35px;

    &:hover {
        color: white;
        background-color: var(--kia-red);
        padding: 3px 10px;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 25px;
        margin-right: -10px;
    }
}

.current-menu {
    font-weight: 900;
    font-size: 20px;
    color: white;
    background-color: var(--kia-red);
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 25px;
    margin-right: -10px;
}

.header-mypage {
    height: 50px;
}

#login-btn {
    height: 35px;
    font-weight: 900;
    font-size: 20px;
    margin-left: 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 3px 10px;

    &:hover {
        background-color: var(--kia-red);
        cursor: pointer;
    }
}
