#pagination-content {
    border: 2px solid;
    border-radius: 5px;
}
#pagination-content > li {
    line-height: 45px;
    border-right: 2px solid;

    &:last-of-type {
        border: none;
    }
}
#pagination-content > li > a {
    display: block;
    height: 40px;
    width: 42px;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
}
#pagination-content > li > a:hover {
    background-color: var(--yellow-btn);
}
#pagination-content > li > a.active {
    background-color: var(--yellow-btn);
}
