/* 채팅 --------------------------------------------------------------- */
#community-home-wrapper {
    height: 750px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.community-home-content {
    width: calc(1160px / 3);
    height: 350px;
    border: 2px solid ;
    border-radius: 5px;

    overflow: hidden;
    align-items: center;
    position: absolute;
    flex-direction: column;

    &:nth-child(1) {
        height: 720px;
        background-color: #eaeaea;
    }
    &:nth-child(2) {
        left: 406px;
    }
    &:nth-child(3) {
        right: 0px;
    }
    &:nth-child(4) {
        top: 370px;
        left: 406px;
    }
    &:nth-child(5) {
        top: 370px;
        right: 0px;
    }
}

#chatting-wrap {
    width: 100%;
    height: 630px;
    padding: 20px 20px 0 20px;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.chatting-items {
    margin-bottom: 10px;

    &:last-of-type {
        margin: 0;
    }
}

.chatting-items .chatting-content {
    background-color: white;
    border: 2px solid ;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;

    max-width: 350px;
    min-width: 48px;
    word-wrap: break-word; /* 자동 줄바꿈 */
}

.chatting-items .chatting-writer {
    width: 100%;
    padding-left: 3px;
    font-size: 13px;
    font-weight: 500;
}

/* 실시간 댓글 작성 */
#chat-anonymous,
#chatting-form {
    width: 341px;
    height: 50px;
    background-color: white;
    border: 2px solid ;
    border-radius: 5px;
    position: absolute;
    justify-content: space-between;
    overflow: hidden;
    top: 647px;
}

/* 로그인 안 했을 때 */
#chat-anonymous {
    justify-content: center;
    font-weight: 500;
}

#chatting-form > input[name="content"] {
    width: calc(100% - 50px);
    border: none;
    padding: 0 10px;
    font-size: 18px;

    &:focus {
        outline: none;
    }
}

#chatting-form > input[type="button"] {
    background-color: var(--yellow-btn);
    border: none;
    width: 60px;
    border-left: 2px solid ;
    font-weight: 600;
    font-size: 15px;

    &:hover {
        background-color: var(--yellow-btn-hover);
        cursor: pointer;
    }
}

/* 맛집 --------------------------------------------------------------- */
.community-common-wrap {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.community-common-title {
    position: absolute;
    z-index: 1;
    font-size: 25px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 346px;
    line-height: 346px;
    text-align: center;
    opacity: 0;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}

#food-wrapper {
    background-image: url("/img/map.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 55px;
    background-color: #b0d3f0;
}

/* 최애 */
#love-wrapper {
    background-image: url("/img/baseball-player.png");
    background-size: 310px;
    background-repeat: no-repeat;
    background-position: 36px 60px;
    background-color: rgb(255 224 229);
}

/* 자유 */
#free-wrapper {
    background-color: rgb(218, 255, 226);
    background-image: url("/img/stadium.png");
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: 15px 70px;
}

/* 바로가기 */
#site-wrapper {
    flex-direction: column;
    background-color: #d4cfff;
}

#site-content {
    position: relative;
    width: 340px;
    height: 302px;
}

#site-content > a {
    position: absolute;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;

    border: 2px solid black;
    width: 160px;
    height: 140px;
    overflow: hidden;

    &:nth-child(1) {
        top: 0px;
        background-image: url("/img/호걸이.png");
        background-color: rgb(208 221 201);
        background-size: 140px;
        background-position: 7.5px 8px;
    }
    &:nth-child(2) {
        right: 0px;
        background-image: url("/img/youtube.png");
        background-color: rgb(183 212 239);
        background-size: 100px;
        background-position: 27px 18px;
    }
    &:nth-child(3) {
        bottom: 0px;
        background-image: url("/img/shopping-bags.png");
        background-color: rgb(252 255 218);
        background-size: 140px;
        background-position: 7.5px 12px;
    }
    &:nth-child(4) {
        right: 0px;
        bottom: 0px;
        background-image: url("/img/crowd.png");
        background-color: rgb(239, 183, 183);
    }
}

#site-content > a > div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 155px;
    height: 137px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}

#chatting-live {
    padding: 7px 10px;
    font-weight: 600;
    border: 2px solid #333;
    border-width: 0px 2px 2px 2px;
    border-radius: 0 0 5px 5px;
    color: white;
    background-color: #ff7a00;
    position: absolute;
}
