main {
    width: 1200px;
    margin: 0px auto 50px;
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
}

#list-header-wrap {
    flex-direction: column;
    row-gap: 20px;
}
#header-txt {
    width: 100%;
    padding: 20px 0 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 2px solid;
}
#btn-wrap {
    width: 100%;
    justify-content: space-between;
    column-gap: 20px;
}
#region-btn-wrap {
    column-gap: 20px;
}
#write-btn,
.all,
.region {
    padding: 0 10px;
    line-height: 35px;
    font-weight: 600;
    font-size: 16px;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
#write-btn:hover {
    background-color: var(--yellow-btn);
}
/*#region > p {*/
/*    &:hover {*/
/*        color: black;*/
/*    }*/
/*}*/
.all:hover {
    color: black;
    background-color: #e9e9e9;
}
.all.active {
    color: black;
    background-color: #e9e9e9;
}
.region:hover {
    color: black;
}
.region:nth-child(2).active {
    color: black;
    background-color: #eb008a;
}
.region:nth-child(3).active {
    color: black;
    background-color: var(--kia-red);
}
.region:nth-child(4).active {
    color: black;
    background-color: #0066b3;
}
.region:nth-child(5).active {
    color: black;
    background-color: #f37321;
}
.region:nth-child(6).active {
    color: black;
    background-color: #d00e31;
}
.region:nth-child(7).active {
    color: black;
    background-color: #e3e3e5;
}
.region:nth-child(8).active {
    color: black;
    background-color: #cf0a2c;
}
.region:nth-child(9).active {
    color: black;
    background-color: white;
}
.region:nth-child(10).active {
    color: black;
    background-color: #244c81;
}

/* ------------------------------------------------------------ */

#list-wrap {
    margin: 20px 0;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    min-height: 300px;
}
.list-content {
    position: relative;
    height: 140px;
}
.list-content > a {
    width: 372px;
    height: 140px;
    border: 2px solid;
    border-radius: 5px;
    background-color: #ebf0f2;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    flex-direction: column;
    justify-content: space-between;
}
.region-tag {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    font-weight: 600;
    font-size: 20px;
}
.title {
    display: block;
    font-weight: 600;
    font-size: 24px;
    width: 332px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-save-form {
    position: absolute;
    bottom: 17px;
    right: 18px;
}
.star{
    /* fill: var(--yellow-btn); */
    fill: white;
    width: 40px;
    stroke: #333;
    stroke-width: 1;
    cursor: pointer;
}
