#postList-wrap {
    width: 1200px;
    margin: 0px auto 50px;
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
}
button {
    cursor: pointer;
}
.border-and-radius {
    border: 2px solid;
    border-radius: 5px;
}

/* ------------------------------------------------------------ */
#list-header-wrap {
    flex-direction: column;
    row-gap: 20px;
}
#list-header-txt {
    text-align: center;
    border-bottom: 2px solid;
    padding: 20px 0 40px;
    font-size: 30px;
    font-weight: 600;
}
#list-search-wrap {
    justify-content: space-between;
    margin-bottom: 20px;
}
[name="search-form"] {
    column-gap: 20px;
}
#write-btn, [name="search-form"] * {
    font-size: 16px;
    font-weight: 600;
    height: 39px;
    line-height: 34px;
    border-radius: 5px;
    border: 2px solid;
    padding: 0 10px;
    background-color: white;
    outline: none;
}
#write-btn, #initial-btn, #search-btn {
    &:hover {
        background-color: var(--yellow-btn);
    }
}
#search-input::placeholder {
    color: rgb(207, 207, 207);
}

/* ------------------------------------------------------------ */

#list-wrap {
    width: 100%;
    row-gap: 20px;
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 400px;
}
#list-wrap .list-content {
    width: 100%;
    height: 50px;
    overflow: hidden;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    background: var(--light-blue);

    &:hover:not(:first-child) {
        .post-title {
            text-decoration: underline;
        }
    }
}
.post-inform {
    width: 100%;
}
.post-inform > div {
    border-right: 2px solid;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    &:nth-child(1) {
        width: 7%;
    }
    &:nth-child(2) {
        width: 7%;
    }
    &:nth-child(3) {
        padding: 0 20px;
        width: 52%;
    }
    &:nth-child(4) {
        padding: 0 20px;
        width: 17%;
    }
    &:nth-child(5) {
        width: 7%;
    }
    &:nth-child(6) {
        width: 10%;
        border: none;
    }
}