main {
    width: 1200px;
    margin: 0 auto 50px;
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
}
.padding-line {
    border-bottom: 2px solid;
    padding: 20px 0;
}

#detail-header-wrap {
    justify-content: space-between;
    padding-top: 0;
}
#writer-wrap {
    align-items: center;
    column-gap: 10px;
}
#writer-wrap > .writer-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#writer-wrap > .writer-nickname {
    width: auto;
    font-weight: 500;
}

#num-wrap {
    column-gap: 20px;
}
#num-wrap > div {
    column-gap: 10px;
}

/* ------------------------------------------------------------ */

/* nav {
    width: 1200px;
    margin: 0 auto;
    column-gap: 15px;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 0;
}
*/

/* ------------------------------------------------------------ */

#detail-content-wrap {
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid;
    height: 322px;
}
#title, #type {
    font-size: 30px;
    font-weight: 600;
    height: 30%;
    line-height: 50px;
    border-bottom: 2px solid;
}
#title {
    width: 85.2766%;
    padding: 20px 20px 20px 0;
}
#type {
    width: 14.7234%;
    border-left: 2px solid;
    padding: 20px;
    text-align: center;
}
#content {
    width: 100%;
    height: 70%;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

/* ------------------------------------------------------------ */

.swiper {
    column-gap: 20px;
    overflow-x: scroll;
}
.swiper-slide {
    display: flex;
    align-items: center;
}
.swiper-slide > img {
    width: 240px;
    border: 2px solid;
    border-radius: 5px;
}

/* ------------------------------------------------------------ */

#btn-wrap {
    margin-top: 20px;
    justify-content: end;
    column-gap: 15px;
}
#btn-wrap > a,
#btn-wrap button {
    font-size: 16px;
    font-weight: 500;
    height: 39px;
    line-height: 34px;
    border-radius: 5px;
    border: 2px solid;
    padding: 0 10px;
    background-color: white;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: var(--yellow-btn);
    }
}


