#postWrite-wrap {
    width: 1200px;
    margin: 0 auto 50px;
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
}
.padding-line {
    border-bottom: 2px solid;
    padding: 20px 0;
}
#writer-wrap {
    align-items: center;
    column-gap: 10px;
    padding-bottom: 20px;
}
#writer-wrap > img {
    width: 40px;
    border-radius: 50%;
}

/* ------------------------------------------------------------ */

#content {
    width: 100%;
    height: 300px;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 2px solid;
    font-size: 18px;
    font-weight: 500;
    display: flex;
}
#content::placeholder {
    color: rgb(190, 190, 190);
}

/* ------------------------------------------------------------ */

#write-info {
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin-bottom: 20px;
    height: 100px;
    position: relative;
}
#write-info > *:not(:last-child) {
    padding: 20px 20px 20px 0;
    border: none;
    font-size: 30px;
    font-weight: 600;

    &:focus {
        outline: none;
    }
}
#write-info > :nth-child(1) {
    width: 86.8%;
    border-right: 2px solid;

    &::placeholder {
        color: rgb(190, 190, 190);
    }
}
#write-info > :nth-child(2) {
    width: 13.2%;
    margin-left: 20px;
    text-align: center;
    line-height: 54px;
    cursor: pointer;
    color: rgb(190, 190, 190);

    &:hover {
        color: #333;
    }
}

#category-wrap {
    width: 172px;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
    top: 98px;
    right: 0;
    font-size: 20px;
    font-weight: 600;
    display: none;
    z-index: 1;
}
.category-item {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid;
    border-width: 0 2px 2px 2px;
    &:last-child {
        border-radius: 0 0 5px 5px;
    }
}
#write-info > #category.clicked,
#write-info > #category-wrap.clicked {
    color: #333;
    display: block;
}

.err-msg, .file-err-msg {
    margin-bottom: 7px;
    font-size: 14px;
    color: red;
    display: none;
}
.err-wrap > :nth-child(1) {
    width: 86%;
}

/* ------------------------------------------------------------ */

#content {
    width: 100%;
    height: 300px;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 2px solid;
    font-size: 18px;
    font-weight: 500;
    display: flex;
}
#content::placeholder {
    color: rgb(190, 190, 190);
}
#write-content-wrap > p {
    margin-top: 7px;
}

/* ------------------------------------------------------------ */

.fileBox {
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 2px solid;
    padding-top: 20px;
}
.fileBox > div:nth-child(1) {
    margin-bottom: 15px;
    font-weight: 500;
}
.picture-btn {
    width: 88px;
}

.confirm-box-wrap {
    margin-bottom: 20px;
    flex-direction: column;
}
.confirm-box-wrap > .confirm-box-item {
    width: 100%;
    border: 2px solid;
    border-radius: 5px;
    justify-content: space-between;
    overflow: hidden;
}
.confirm-box-item > .choice-file-btn {
    width: 95%;
    cursor: pointer;
}
.confirm-box-item > .choice-file-btn > * {
    padding: 10px;
    font-size: 16px;
    border-right: 2px solid;

    &:first-of-type {
        width: 8%;
        background-color: var(--light-blue);
    }
    &:last-of-type {
        width: 92%;
    }
}
.confirm-box-item > .file-delete-btn {
    padding: 10px;
    background-color: hsl(0, 100%, 79%);
    font-size: 16px;
    font-weight: 500;
    border: none;
    width: 5%;
    cursor: pointer;
}

/* ------------------------------------------------------------ */

#btn-wrap {
    padding-top: 20px;
    column-gap: 15px;
    justify-content: flex-end;
}
.picture-btn,
#btn-wrap > a,
#btn-wrap button {
    font-size: 16px;
    font-weight: 500;
    height: 39px;
    line-height: 34px;
    border-radius: 5px;
    border: 2px solid;
    padding: 0px 10px;
    background-color: white;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: var(--yellow-btn-hover);
    }
}
