#game-wrapper {
    width: 1200px;
    height: 1020px;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
}

/* title */
#game-banner {
    width: 100%;
    border-bottom: 2px solid;
    position: relative;
    padding: 20px 0 40px;
    font-size: 30px;
    font-weight: 600;
}

#cal-banner {
    width: 1156px;
    position: absolute;
    justify-content: space-between;
    font-weight: 600;
    font-size: 15px;
    top: 205px;
}

#cal-color, #win-graph {
    justify-content: space-between;
    border-radius: 5px;
    text-align: center;
}

#cal-color {
    column-gap: 5px;
}

#win-graph > div {
    font-size: 17px;
    color: var(--kia-red);
}

/* calendar */

.cal-wrap {
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
}

.cal-wrap .cal-nav {
    height: 100px;
    font-weight: 700;
    font-size: 33px;
    margin: 20px 0 0;
}

.cal-wrap .cal-nav .year-month {
    width: 150px;
    text-align: center;
    line-height: 1;
}

.cal-wrap .cal-nav .go-prev,
.cal-wrap .cal-nav .go-next {
    display: block;
    width: 50px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal-wrap .cal-nav .go-prev::before, /* 근데 왜 before를 붙이지? */
.cal-wrap .cal-nav .go-next::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 3px solid #000;
    border-width: 3px 3px 0 0; /* border-with : 부분 border */
}

.cal-wrap .cal-nav .go-prev::before {
    transform: rotate(-135deg);
}

.cal-wrap .cal-nav .go-next::before {
    transform: rotate(45deg);
}

.cal-wrap .cal-main {
    width: 100%;
    position: relative;
    margin: 0 auto;
    border-left: 2px solid ;
}

.cal-wrap .cal-main .cal-days .day {
    height: 45px;
    line-height: 45px;
    border-top: 2px solid #333;
}

.cal-wrap .cal-main .day {
    width: calc(100% / 7);
    height: 160px;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    border: 2px solid #333;
    border-width: 0 2px 2px 0;
}

.cal-wrap .cal-main .dates {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    background-color: var(--light-blue);
}

.cal-wrap .cal-main .dates .day > span {
    width: 100%;
    height: 100%;
    color: gray;
    font-size: 15px;
    padding-top: 10px;
}

.cal-wrap .cal-main .day:nth-child(7n -1) {
    color: #3c6ffa;
}

.cal-wrap .cal-main .day:nth-child(7n) {
    color: #ed2a61;
}

.cal-wrap .cal-main .day.disable {
    color: var(--light-blue);
}
